services:
  postgres:
    image: postgres:13
    container_name: olist_postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=data_warehouse
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # NEW: This service runs once to initialize the database, then stops.
  airflow-init:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - AIRFLOW__WEBSERVER__SECRET_KEY=imane_secret_key_123  # <--- ADD THIS
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:root@postgres:5432/data_warehouse
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    command: db migrate

  airflow-webserver:
    build: .
    container_name: airflow_webserver
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    volumes:
      - ./dags:/opt/airflow/dags
      - ../spark:/opt/airflow/scripts
      - ../kaggle/data/row:/opt/airflow/data
    environment:
      - AIRFLOW__WEBSERVER__SECRET_KEY=imane_secret_key_123  # <--- ADD THIS
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:root@postgres:5432/data_warehouse
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    build: .
    container_name: airflow_scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    volumes:
      - ./dags:/opt/airflow/dags
      - ../spark:/opt/airflow/scripts
      - ../kaggle/data/row:/opt/airflow/data
    environment:
      - AIRFLOW__WEBSERVER__SECRET_KEY=imane_secret_key_123  # <--- ADD THIS
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:root@postgres:5432/data_warehouse
    command: scheduler